In [1]:
from pyspark.sql import SparkSession

# Crear una sesión de Spark
spark = SparkSession.builder \
    .appName("MiAplicacionSpark") \
    .getOrCreate()

11) ¿Cuánto se debió haber facturado por las ventas de los productos SKUB06?

In [40]:
df2 = spark.read.csv(r'pedidos.csv',  header=True, 
                     inferSchema=True,
                     sep=';',
                     encoding='latin1')

In [41]:
df2.show()

+-----------------------------+------+----------------------+------------------+--------+------------------+--------------+-------------+--------------+----------------+---------+------------+-----------+
|Número de Pedido - Tip Compra|   SKU|Categoría de Descuento|   Precio de Venta|Unidades|Costo del Producto|Costo de Envio|Costo Empaque|Fecha de Envio|Fecha de Llegada|     País|      Ciudad|Codigo País|
+-----------------------------+------+----------------------+------------------+--------+------------------+--------------+-------------+--------------+----------------+---------+------------+-----------+
|               98094262Normal|CB01-5|                   Non| 666.0899999999999|       3|                 8|             6|            3|         36508|           36527|VENezuela|     Caracas|         VE|
|               98094261Normal|CC01-2|                   Non|            105.06|       2|              8,55|          4,55|            2|         36509|           36529| PARaguay|    Asunción|         PA|
|               98094260Normal| L01-5|                   Non|              61.5|       2|              8,25|          3,25|            2|         36510|           36529|     PERú|        Lima|         PE|
|               98094258Normal|CB01-2|                   Non|222.02999999999997|       1|              7,99|          4,99|            3|         36511|           36528| PARaguay|    Asunción|         PA|
|           98094259Devolución|CB01-2|                   Non| 666.0899999999999|       3|              5,61|          5,61|            2|         36511|           36529| PARaguay|    Asunción|         PA|
|               98094257Normal|CC02-1|                   Non|             80.16|       3|              9,99|          3,99|            3|         36512|           36528|  URUguay|  Montevideo|         UR|
|               98094256Normal| L01-5|                   Non|             30.75|       1|              5,14|          6,14|            3|         36512|           36528|  URUguay|  Montevideo|         UR|
|               98094255Normal|CB01-3|                   Non| 666.0899999999999|       3|              7,14|          4,14|            2|         36513|           36533|ARGentina|     Rosario|         AR|
|               98094253Normal| L01-4|                   Non|              61.5|       2|              8,58|          3,58|            2|         36514|           36533|  ECUador|       Quito|         EC|
|               98094254Normal| L02-1|                   Non|120.60000000000001|       3|              9,55|          5,55|            2|         36514|           36529|VENezuela|     Caracas|         VE|
|               98094250Normal|CC01-4|                   Non|            105.06|       2|              7,68|          3,68|            2|         36515|           36531|  URUguay|  Montevideo|         UR|
|               98094251Normal|CC01-7|                   Non|             52.53|       1|              8,99|          5,99|            1|         36515|           36526|    CHIle|Viña del Mar|         CH|
|           98094252Devolución|CC02-7|                   Non|             53.44|       2|                 7|             5|            2|         36515|           36531|VENezuela|     Caracas|         VE|
|               98094244Normal| B06-1|                   Non|             50.36|       1|                 7|             5|            1|         36516|           36530|   BRAsil|         Rio|         BR|
|           98094247Devolución|CC01-3|                   Non|             52.53|       1|               8,1|           6,1|            2|         36516|           36526|   BRAsil|         Rio|         BR|
|               98094248Normal|CC02-3|                   Non|             53.44|       2|                 7|             3|            3|         36516|           36529|  URUguay|  Montevideo|         UR|
|           98094249Devolución|CC02-6|                   Non|             80.16|       3|              5,58|          5,58|            2|         36516|           36534| COLombia|    Medellín|         CO|
|               98094246Normal| L03-7|          Black Friday|            44.985|       2|              7,99|          4,99|            2|         36516|           36531| PARaguay|    Asunción|         PA|
|               98094245Normal| L07-5|          Cyber Monday|            60.624|       2|                 5|             4|            2|         36516|           36536|    CHIle|Viña del Mar|         CH|
|               98094243Normal|CB01-6|                   Non|444.05999999999995|       2|                 7|             4|            3|         36517|           36529| COLombia|    Medellín|         CO|
+-----------------------------+------+----------------------+------------------+--------+------------------+--------------+-------------+--------------+----------------+---------+------------+-----------+
only showing top 20 rows

In [52]:
from pyspark.sql.functions import regexp_replace

df2 = df2.withColumn('Costo de Envio', regexp_replace('Costo de Envio', ',', '.'))
df2 = df2.withColumn('Costo del Producto', regexp_replace('Costo del Producto', ',', '.'))

In [53]:
df2.createOrReplaceTempView("venta")
df2.printSchema()

root
 |-- Número de Pedido - Tip Compra: string (nullable = true)
 |-- SKU: string (nullable = true)
 |-- Categoría de Descuento: string (nullable = true)
 |-- Precio de Venta: double (nullable = true)
 |-- Unidades: integer (nullable = true)
 |-- Costo del Producto: string (nullable = true)
 |-- Costo de Envio: string (nullable = true)
 |-- Costo Empaque: integer (nullable = true)
 |-- Fecha de Envio: integer (nullable = true)
 |-- Fecha de Llegada: integer (nullable = true)
 |-- País: string (nullable = true)
 |-- Ciudad: string (nullable = true)
 |-- Codigo País: string (nullable = true)

In [54]:
result = spark.sql("""
                SELECT
                SUM(`Precio de venta` * `Unidades`) as total
                FROM venta
                WHERE SKU LIKE 'B06%' """)
result.show()

+------------------+
|             total|
+------------------+
|104711.03000000033|
+------------------+

12) ¿Hay algún pedido que tenga utilidad negativa? *

In [64]:
result = spark.sql("""
                SELECT
                `Precio de Venta`- (`Costo del Producto`+`Costo de Envio`+`Costo Empaque`)
                from venta
                order by 1
                 """)
result.show()

+---------------------------------------------------------------------------+
|(Precio de Venta - ((Costo del Producto + Costo de Envio) + Costo Empaque))|
+---------------------------------------------------------------------------+
|                                                        -0.8520000000000003|
|                                                       -0.41499999999999915|
|                                                        -0.2920000000000016|
|                                                        0.36799999999999855|
|                                                         0.3879999999999981|
|                                                         0.9279999999999973|
|                                                                     1.1875|
|                                                         1.3679999999999986|
|                                                         1.3679999999999986|
|                                                         1.4679999999999982|
|                                                         1.5760000000000005|
|                                                          1.607999999999997|
|                                                          1.647999999999998|
|                                                         1.6799999999999997|
|                                                         1.6799999999999997|
|                                                         1.6879999999999988|
|                                                         1.7675000000000018|
|                                                         1.9875000000000007|
|                                                                      2.128|
|                                                         2.1935000000000002|
+---------------------------------------------------------------------------+
only showing top 20 rows

13) Calcule la cantidad de unidades promedio de los pedidos cuya categoría de
descuento fue Cyber Monda

In [65]:
result = spark.sql("""
                SELECT
                avg(`Unidades`)
                from venta
                where `Categoría de Descuento` = 'Cyber Monday'
    
                 """)
result.show()

+------------------+
|     avg(Unidades)|
+------------------+
|1.9745738225946259|
+------------------+

14) ¿Cuántos pedidos se realizaron en Argentina? *

In [68]:
spark.sql("""
          SELECT DISTINCT count(*) FROM `venta` as v
          WHERE v.`Codigo País` = "AR";
          """).show()

+--------+
|count(1)|
+--------+
|    2848|
+--------+